%button-shared {
    width: 175px;
    height: 45px;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
button[disabled] {
    background-color: $lightGrey;
    color: $grey
}
.button-main {
    @extend %button-shared;
    background-color: $darkGrey;
    color: #fff;
    &:hover {
        background-color: #504769;
    }
}
.entry-form-button {
    width: 100%;
    margin-top: 30px;
    @media (min-width: 768px) {
        width: 175px;
    }
}