.tabs-container {
    width: 100%;
    margin-top: 50px;
    background-color: #fff;
    border: 2px solid $grey;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &-body {
        padding: 30px;
        section {
            width: 100%;
        }
    }
}
%tab {
    padding: 20px;
    h5 {
        font-weight: 700;
    }
}
.tab-active {
    @extend %tab;
    background-color: #fff;
    color: $darkGrey;
    border-bottom: none;
}
.tab-inactive {
    @extend %tab;
    background-color: #f1f1f1;
    color: $grey;
}
.error-message {
    color: red;
    display: block;
}