.header1 {
    text-align: left;
    margin-top: 50px;
}

.header2 {
    margin-top: 50px;
}

.btn1 {
    height: 40px;
    position: relative;
    top: 22px;
}

.btn2 {
    position: relative;
    top: 50px;
}