.dashboard {
  &-card {
    position: relative;
    top: 30px;
    margin-top: 20px;

    &-img {
      height: 20rem;
      width: auto;
    }

    &-body {
      background-color: $darkGrey;
    }
  }
}

a.dashboard-card-link {
  color: white;
}

a.dashboard-card-link:hover {
  text-decoration: none;
  font-weight: bold;
}
