.dashboard {
  &-card {
    position: relative;
    top: 30px;
    margin-top: 20px;

    &-img {
      height: 20rem;
    }

    &-link {
      font-weight: bold;
    }

    &-body {
      background-color: darkseagreen;
    }
  }
}
