.meal-plan-form {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #fff;
    border: 2px solid $grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    article {
        margin-bottom: 50px;
    }
    input[type=text] {
        width: 100%;
        padding: 10px;
        font-size: 2rem;
        text-align: center;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid $grey;
        @include tablet {
            width: 400px;
        }
    }
    input[type=radio] {
        height: 20px;
        width: 20px;
    }
    input[type=date] {
        width: 100%;
        @include tablet {
            width: 400px;
        }
    }
    label {
        font-size: 1.2rem;
    }

    &-title {
        padding: 10px;
        background-color: $darkGrey;
        color: #fff;
        text-align: center;
    }
    &-main {
        padding: 30px;
    }
    &-number {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        margin-bottom: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: $darkGrey;
        color: #fff;
    }
    &-duration-picker {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}